* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1250px;
}

@media screen and (max-width: 1260px) {
    .container {
        max-width: 1170px;
    }
}

@media screen and (max-width: 1190px) {
    .container {
        max-width: 1100px;
    }
}

@media screen and (max-width: 1190px) {
    .container {
        max-width: 1030px;
    }
}

@media screen and (max-width: 1035px) {
    .container {
        max-width: 980px;
    }
}

@media screen and (max-width: 990px) {
    .container {
        max-width: 890px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 830px;
    }
}

@media screen and (max-width: 840px) {
    .container {
        max-width: 780px;
    }
}

@media screen and (max-width: 790px) {
    .container {
        max-width: 750px;
    }
}

@media screen and (max-width: 620px) {
    .container {
        max-width: 560px;
    }
}

@media screen and (max-width: 520px) {
    .container {
        max-width: 480px;
    }
}