.country {
    background: url(../image/nepal.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 260px 0;
    
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__title {   
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $primary-color;
        text-align: end;
    }

    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $text-color;
        max-width: 298px;
        text-align: end;
    }
}